.grid-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    gap: 5rem;
    width: 70%;
    margin: 0 auto;
    margin-top: 2rem;
}

@media(max-width: 767px){
    .grid-card{
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
        margin-top: 1rem;
        width: 100%;
    }
}

@media(min-width: 768px) and (max-width: 1367px){
    .grid-card{
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        margin-top: 2rem;
        width: 95%;
    }
}

.card{
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: var(--shadow-elevation-medium);
    text-transform: uppercase;
    font-size: 2rem;
    background-color: var(--deep-gray);
    color: white;
}

@media(max-width: 767px){
    .card{
        width: 100%;
        margin: 0 auto;
    }
}

@media(min-width: 768px) and (max-width: 1367px){
    .card{
        width: 95%;
        margin: 0 auto;
    }
}

.card img{
    height: 30rem;
    width: 100%;
    object-fit: cover;
    display: block;
}

.card h3{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}