@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*,*:after,*:before{
    box-sizing: inherit;
    font-family: 'Lato', sans-serif;
}

body{
    margin: 0;
    background-color: var(--gray);
}

:root {
    --shadow-color: 0deg 0% 15%;
    --shadow-elevation-low:
      0.7px 0.6px 1px hsl(var(--shadow-color) / 0.34),
      1.2px 0.9px 1.7px -1.2px hsl(var(--shadow-color) / 0.34),
      2.9px 2.3px 4.2px -2.5px hsl(var(--shadow-color) / 0.34);
    --shadow-elevation-medium:
      0.7px 0.6px 1px hsl(var(--shadow-color) / 0.36),
      2.4px 1.9px 3.4px -0.8px hsl(var(--shadow-color) / 0.36),
      5.9px 4.7px 8.5px -1.7px hsl(var(--shadow-color) / 0.36),
      14.4px 11.4px 20.7px -2.5px hsl(var(--shadow-color) / 0.36);
    --shadow-elevation-high:
      0.7px 0.6px 1px hsl(var(--shadow-color) / 0.34),
      4.2px 3.3px 6px -0.4px hsl(var(--shadow-color) / 0.34),
      7.8px 6.2px 11.2px -0.7px hsl(var(--shadow-color) / 0.34),
      12.8px 10.2px 18.4px -1.1px hsl(var(--shadow-color) / 0.34),
      20.5px 16.3px 29.5px -1.4px hsl(var(--shadow-color) / 0.34),
      32.1px 25.5px 46.1px -1.8px hsl(var(--shadow-color) / 0.34),
      48.7px 38.8px 70px -2.1px hsl(var(--shadow-color) / 0.34),
      71.8px 57.1px 103.2px -2.5px hsl(var(--shadow-color) / 0.34);

    --orange: #feb916;
    --blue: #0fc8fe;
    --gray: #333333;
    --deep-gray: #222222;
}